<!DOCTYPE html>
<html>
<head>
  <title>Clothing Recommendation System</title>
  <!-- Link to external stylesheet -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <!-- Heading for item description -->
  <h2>Describe the item you're looking for:</h2>
  <!-- Form for user input -->
  <form action="/" method="POST">
    <!-- Textarea for item description -->
    <textarea id="description" name="description" rows="10" cols="20" placeholder="Enter item description"></textarea>
    <br/>
    <!-- Button to submit the form -->
    <div class="center-button">
      <input type="submit" value="Get Recommendation">
    </div>
  </form>

  {% if request.method == 'POST' and recommendations %}
    <!-- Heading for recommended items -->
    <h2>Recommended items for you:</h2>
    <ul>
      {% for recommendation, link, index in recommendations %}
        <!-- Display each recommended item with a link -->
        <p><strong>{{ index }}.&nbsp;</strong><a href="{{ link }}">{{ recommendation }}</a></p>
      {% endfor %}
    </ul>
  {% endif %}
</body>
</html>
